<ion-view title="about the oldCity" id="page17" style="background-color:#EEB534;">
  <ion-content padding="true" class="has-header">
    <ion-list id="aboutTheOldCity-list6">
      <ion-item class="item-thumbnail-left" id="aboutTheOldCity-list-item32">
        <img src="img/ji8QZpxvRn6p9fwxhdfK_Dome-of-the-Rock-Jerusalem-1-1163x775.jpg.optimal.jpg">
        <h2>Dome of the rock</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="aboutTheOldCity-list-item33">
        <img src="img/JJwwfWGqTIqw4SixnDRh_mobile1.jpg">
        <h2>Tower of David</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="aboutTheOldCity-list-item34">
        <img src="img/TdBkXWDR56QZI2N0QgQu_download.jpg">
        <h2>Ramparts</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="aboutTheOldCity-list-item35">
        <img src="img/2PPVPQjfQiQT91m5UsJl_maxresdefault.jpg">
        <h2>City of David</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="aboutTheOldCity-list-item36">
        <img src="img/JWI1vYnaRe6RWqoQdqD6_download1.jpg">
        <h2>Austrian Hospice:</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>