<ion-view title="Chats" id="page19" style="background-color:#EEB534;">
  <ion-content padding="true" class="has-header">
    <form id="chats-form10" class="list">
      <label class="item item-input" id="chats-search8">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
    </form>
    <ion-list id="chats-list7">
      <ion-item class="item-avatar" id="chats-list-item17">
        <h2>lina</h2>
        <p>hi</p>
      </ion-item>
      <ion-item class="item-avatar" id="chats-list-item21">
        <h2>Mosheh</h2>
        <p>are u working today?</p>
      </ion-item>
      <ion-item class="item-avatar" id="chats-list-item22">
        <h2>Norhan</h2>
        <p>How much?</p>
      </ion-item>
      <ion-item class="item-avatar" id="chats-list-item23">
        <h2>Dana</h2>
        <p>Deal!</p>
      </ion-item>
      <ion-item class="item-avatar" id="chats-list-item24">
        <h2>Ali</h2>
        <p>Good time!</p>
      </ion-item>
      <ion-item class="item-avatar" id="chats-list-item37">
        <h2>Noor</h2>
        <p>Si</p>
      </ion-item>
      <ion-item class="item-avatar" id="chats-list-item38">
        <h2>Muhammed </h2>
        <p>yes i can ,greate!</p>
      </ion-item>
      <ion-item class="item-avatar" id="chats-list-item39">
        <h2>tmamr</h2>
        <p>No </p>
      </ion-item>
      <ion-item class="item-avatar" id="chats-list-item18">
        <h2>nir</h2>
        <p>which time?</p>
      </ion-item>
      <ion-item class="item-avatar" id="chats-list-item19">
        <h2>Cris</h2>
        <p>i am looking for a guide</p>
      </ion-item>
      <ion-item class="item-avatar" id="chats-list-item20">
        <h2>musheh</h2>
        <p>how much it costs?</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>