<ion-view title="Free Tours" id="page14" style="background-color:#EEB534;">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 141px;"></div>
    <div>
      <img src="img/a7WIIRl9TbCJvFDtfzzi_logo-sandemans-2x-238x39.png" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 51px;"></div>
    <a href-inappbrowser="https://www.neweuropetours.eu/sandemans-tours/jerusalem/free-tour-of-jerusalem/" id="freeTours-button21" style="color:#FF0000;" class="button button-light button-block">English walking tour</a>
    <a href-inappbrowser="https://www.neweuropetours.eu/es/sandemans-tours/jerusalen/tour-gratis-de-jerusalen/" id="freeTours-button22" style="color:#FF0000;" class="button button-light button-block">Spanish walking tour</a>
  </ion-content>
</ion-view>