<ion-view title="home" id="page13" style="background-color:#EEB534;">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 71px;"></div>
    <div>
      <img src="img/T8v7lp6nSEGw18YeCsoO_oct.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 30px;"></div>
    <div id="home-container10">
      <a ui-sref="guideHome()" id="home-button18" style="color:#BD18DD;" class="button button-light button-block">I am a guide</a>
    </div>
    <div id="home-container12">
      <div id="home-container11">
        <a ui-sref="welcomePage()" id="home-button19" style="color:#BD18DD;" class="button button-light button-block">I am a tourist</a>
      </div>
    </div>
  </ion-content>
</ion-view>