<ion-view title="My acount" id="page18" style="background-color:#EEB534;">
  <ion-content padding="true" class="has-header">
    <form id="myAcount-form8" class="list">
      <ion-toggle toggle-class="toggle-balanced" ng-checked="true" id="myAcount-toggle1">Status</ion-toggle>
    </form>
    <div class="spacer" style="width: 300px; height: 97px;"></div>
    <a ui-sref="chats()" id="myAcount-button24" style="color:#BD18DD;" class="button button-light button-large button-block">Chat requests</a>
    <a ui-sref="createGroup()" id="myAcount-button30" style="color:#BD18DD;" class="button button-light button-large button-block">Create group</a>
    <button id="myAcount-button14" style="color:#BD18DD;" class="button button-light button-large button-block">Profile</button>
  </ion-content>
</ion-view>