<ion-view title="navigation" id="page7" style="background-color:#EEB534;">
  <ion-content padding="true" class="has-header">
    <form id="navigation-form4" class="list">
      <label class="item item-input" id="navigation-search2">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Search">
      </label>
    </form>
    <button id="navigation-button9" style="color:#BD18DD;" class="button button-light button-block icon-left ion-arrow-graph-up-right">Navigate</button>
    <div>
      <img src="img/3eC0WoHXSBGdi13f3fIY_oldcity_jerusalem_map.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="createGroup()" id="navigation-button10" style="color:#BD18DD;" class="button button-light button-block icon-left ion-android-contacts">Create Group Tour</a>
  </ion-content>
</ion-view>