<ion-view title="Signup" id="page3" style="background-color:#EEB534;">
  <ion-content padding="true" class="has-header">
    <form id="signup-form2" class="list">
      <div class="spacer" style="height: 100px;"></div>
      <ion-list id="signup-list2">
        <label class="item item-input" id="signup-input3">
          <span class="input-label">Name</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="signup-input4">
          <span class="input-label">Email</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="signup-input5">
          <span class="input-label">Password</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <a ui-sref="signIn()" id="signup-button3" style="color:#BD18DD;" class="button button-stable button-block">Sign up</a>
    </form>
  </ion-content>
</ion-view>